<%- include('partials/header'); -%>

<ul class="artworks">
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 1</h4>
    <p>Painting Art one</p>
  </li>
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 2</h4>
    <p>Painting Art Two</p>
  </li>
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 3</h4>
    <p>Painting Art Three</p>
  </li>
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 4</h4>
    <p>Painting Art Four</p>
  </li>
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 5</h4>
    <p>Painting Art Five</p>
  </li>
  <li class="artwork">
    <img src="/sunset.png" alt="smoothie recipe icon">
    <h4>Sunset 6</h4>
    <p>Painting Art Six</p>
  </li>
</ul>

<%- include('partials/footer'); -%>