<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/koala.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Art Gallery</h2>
    <h3>By Sophia</h3>
    <a href="/artworks" class="btn">View art work</a>
  </div>
</header>


<%- include('partials/footer'); -%>